body {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
    background-color: #f0f8ff; 
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.hello {
    font-family: 'Georgia', serif;
    font-weight: 400;
    font-size: 20px;
    color: #ff6347; 
    margin-bottom: 20px;
}

.helloo {
    font-family: 'Tahoma', sans-serif;
    font-weight: 700; 
    font-size: 22px;
    color: #4682b4;
}
