/* კომენტარების სახით ახსენით რა არის media.
2) ახსენით რისთვის გამოიყენება.
ის გამოიყენება იმისთვის რომ სწორად გამოჩნდეს საიტი
ყველა ტელეფონზე ლეპტოპში

3)შექმენი div და:
როდესაც screen < 600px → ფონი იყოს ლურჯი
როდესაც screen ≥ 600px → ფონი იყოს მწვანე */
.div {
    width: 200px;
    height: 200px;
  }

@media (max-width: 599px) {
    .div {
      background: blue;
    }
  }

 
  @media (min-width: 600px) {
    .div {
      background: green;
    }
  }